{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <h2>Log In</h2>
    <div class="row" style="margin-top: 20px">
        <div class="alert alert-danger"><p style="color: darkred">Wrong password!</p></div>
    </div>

    <div class="register"><!--start of register-->
        <div class="login-form"><span>Login</span></div>
        <div><input type="text" class="form-control reg" maxlength="300" name="text" aria-describedby="basic-addon1">
        </div>

        <div class="login-form"><span>Password</span></div>
        <div><input type="password" class="form-control reg" maxlength="50" name="password"
                    aria-describedby="basic-addon1" placeholder="Password length (minimum 5)" pattern=".{5,}"
                    required="required" value=""></div>

        <div>
            <button type="submit" class="btn btn-default button-ask" style="margin-left: 200px">Log In</button>
        </div>

        <div class="row signup-link" style="margin-left: 200px">
            <a href="{% url 'signup' %}" class="signup-link">Create new account</a>
        </div>
    </div> <!--end of register-->
{% endblock %}